body {
  margin: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.choose{
  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
}
.info{
  position: absolute;
  top: 100px;
  right: 0;
  height: fit-content;
  width: 100%;
}

.picture{
  fill: #000000;
  stroke: #000000;
  margin: 0.5em 0em;
  cursor: pointer;
  position: absolute;
  bottom: 250px;
  right: 32px;
}
